@charset "UTF-8";
@import url("./NanumGothic.css");

:root {
	/* color */
	--bg-color: #cdcdcd;
	--top-bg-color: #444444;
	--silde-menu-bg-color: #f2f0f0;
	--main-color: #063b87;
	--red-color: #e54545;
	--yellow-color: #ffc107;
	--black-color: #000;
	--white-color: #fff;
	--gray-dark-color: #343a40;
	--gray-color-1: #f8f9fa;
	--gray-color-2: #e9ecef;
	--gray-color-3: #dee2e6;
	--gray-color-4: #ced4da;
	--gray-color-5: #adb5bd;
	--gray-color-6: #6c757d;
	--gray-color-7: #495057;
	--gray-color-8: #343a40;
	--gray-color-9: #212529;

	/* font-size */
	--fs-xxl: 2rem;
	--fs-xl: 1.5rem;
	--fs-large: 1.25rem;
	--fs-medium: 0.9rem;
	--fs-small: 0.75rem;

	/* font-weight */
	--fw-extra-bold : 900;
	--fw-bold : 700;
	--fw-medium : 500;
	--fw-light : 300;
}


* {
	font-family: NanumGothic;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

input[type="button"] {
	border: 0;
	padding: 0;
	background-color: var(--main-color);
	color: var(--white-color);
	cursor: pointer;
}

input {
	border: 0;
	overflow: hidden;
}

input:focus {
	outline: 1px solid var(--main-color);
	transition: 0.3s;
}

ul {
	list-style: none;
	margin: 0px auto;
	padding-inline-start: 0;
}

.selected {
	color: var(--main-color) !important;
	font-weight: var(--fw-bold) !important;
}

.noselected {
	color: var(--gray-color-6);
}

.link {
	padding: 0 3%;
}

/* input*/
.input-box{
	position: relative;
	display: block;
	width: 100%;
}

.input-box input {
	width: 90%;
	height: 48px;
	min-height: 48px;
	padding: 0 4%;
	margin : 5px 0;
	border: 1px solid var(--gray-color-5);
	border-radius: 10px;
}


.input-box-underline {
	position: relative;
	display: block;
	width: 100%;
}


.input-box-underline input {
	width: 90%;
	height: 48px;
	min-height: 48px;
	padding: 0 2%;
	margin : 5px 0;
	border-bottom: 1px solid var(--gray-color-5);
}

.input-box-underline-email {
	display: flex;
	justify-content: center;
	align-items: center;
}


.input-box-underline-email input {
	width: 90%;
	height: 48px;
	min-height: 48px;
	padding: 0 4%;
	margin : 5px 0;
	border-bottom: 1px solid var(--gray-color-5);
}


.input-box-underline-email select{
	font-family: NanumGothic;
	height: 48px;
	padding: 0 2%;
	margin: 0 1%;
}


.input-box-underline-phone {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-box-underline-phone input {
	width: 90%;
	height: 48px;
	min-height: 48px;
	padding: 0 4%;
	margin : 5px 0;
	border-bottom: 1px solid var(--gray-color-5);
}

.input-box-underline-phone select {
	font-family: NanumGothic;
	height: 48px;
	padding: 0 2%;
}


.input-box-underline input:focus,
.input-box-underline-email input:focus,
.input-box-underline-phone input:focus{
	outline: none;
}

.input-box-noborder {
	height: 48px;
	margin : 5px 0;
}

.input-box input:hover{
	border: 1px solid var(--top-bg-color);
}

.help {
	text-align: left;
}

.input.error {
	border: 1px solid var(--red-color);
	background-color: rgba(255,155,155,.06);
}

.error-msg {
	display: none;
	color: var(--red-color);
	font-size: var(--fs-medium);
	font-weight: var(--fw-bold);
	margin : 8px 6px;
	padding-left: 3%;
}

.now-page{
	color: var(--white-color);
	background-color: var(--gray-color-7);
	border-radius: 50%;
}

.now-page span {
	font-size: var(--fs-medium);
}

.keyword {
	color: var(--red-color);
	font-weight: var(--fw-bold);
}


.footer-btn-wrap {
	position: fixed;
	bottom: 40px;
	right: 40px;
}

/* load 영역 */
#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.8;
	background: white;
	z-index: 99;
	text-align: center;
}

#load > img {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

/* top 영역 */
#top-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top:0;
	width: 100%;
	height: 60px;
	background-color: var(--top-bg-color);
	z-index: 2;
}

#top-wrap .title-wrap {
	display: flex;
	align-items: flex-end;
	width: 280px;
	margin-left : 20px;
}

#top-wrap .title-wrap .title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-extra-bold);
	padding: 0 10px;
	color: var(--white-color);
}

#top-wrap .title-wrap .subtitle {
	padding-bottom: 5px;
	color: var(--gray-color-6);
}

#top-wrap .exit {
	margin-right: 20px;
}

#top-wrap .exit a {
	color: var(--white-color);
	font-size: var(--fs-medium);
}


/* sideMenu 영역 */
#side-menu-wrap {
	position: fixed;
	float: left;
	width: 250px;
	height: 100%;
	background-color: var(--silde-menu-bg-color);
	z-index: 1;
}

#side-menu-wrap .menu-box {
	padding: 18px 18px;
}

#side-menu-wrap .menu-box .box-userInfo {
	padding: 30px 0;
	border-bottom: 1px solid var(--gray-color-6);
	text-align: center;
}

#side-menu-wrap .menu-box .box-userInfo span {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
}

#side-menu-wrap .menu-box .box {
	padding: 30px 0;
	border-bottom: 1px solid var(--gray-color-6);
}

#side-menu-wrap .menu-box .box:last-child {
	border-bottom: 0;
}

#side-menu-wrap .menu-box .box .txt-cate {
	padding: 0 0 20px 10px;
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	color: var(--black-color);
}

#side-menu-wrap .menu-box .box .txt-cate a {
	color: var(--black-color);
}


#side-menu-wrap .menu-box .box ul {
	padding-left: 15px;
}

#side-menu-wrap .menu-box .box ul li {
	padding: 6px 0;
}



/* container 영역 */
#contents-wrap {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-left: 250px !important;
}

#contents-wrap .main-wrap {
	width: 100%;
	margin: 30px 60px;
}

#contents-wrap .main-top .nav-bar {
	margin: 20px 0 10px;
}

#contents-wrap .main-top .title-search  {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contents-wrap .main-top .title-search .title span {
	font-size: var(--fs-xl);
	font-weight: var(--fw-bold);
}



#contents-wrap .main-top .search-order {
	display: flex;
	align-items: center;
	padding-left: 10px;
}

#contents-wrap .main-top .search-order select
 {
	height: 40px;
	padding: 0 4px;
}

#contents-wrap .main-top .search-order .order-wrap {
	margin-right: 5px;
}

#contents-wrap .main-top .search-order .search-wrap form {
	display: flex;
	align-items: center;
}



#contents-wrap .main-top .search-wrap {
	display: flex;
	align-items: center;
}

#contents-wrap .search-wrap .select-option select {
	width: 80px;
	height: 40px;
	padding: 0 4px;
}

#contents-wrap .search-wrap .search-input {
	position: relative;
	display: block;
	width: 200px;
}

#contents-wrap .search-wrap .search-input input {
	width: 100%;
	height: 36px;
	padding-left: 4%;
	border: 1px solid var(--gray-color-6);
}

#contents-wrap .search-wrap .search-btn input[type="button"] {
	height : 40px;
	padding: 7px 10px;
	margin-left: 8px;
}

#contents-wrap .main-content table {
	width: 100%;
	border-collapse: collapse;
}

#contents-wrap .main-content table thead {
	background-color: var(--gray-color-2);
	border-top: 3px solid var(--gray-color-6);
	border-bottom: 1px solid var(--gray-color-6);
	height: 48px;
}

#contents-wrap .main-content table tbody tr {
	height: 60px;
	border-bottom: 1px dotted var(--gray-color-6);
}

#contents-wrap .main-content table tr td {
	text-align: center;
}

#contents-wrap .main-content table tr td a {
	color: var(--black-color);
	text-decoration: underline;
}

#contents-wrap .main-content table tr td a:hover {
	opacity: 0.7;
}

#contents-wrap .main-content .thumb img{
	width: 80px;
	height: 50px;
}


#contents-wrap .pagination{
	margin-top: 20px;
}

#contents-wrap .pagination ul {
	text-align: center;
}

#contents-wrap .pagination ul li {
	display: inline-block;
	padding: 0 6px;
}

#contents-wrap .pagination ul li a{
	color: var(--black-color);
}

#contents-wrap .pagination ul li a:visited {
	color: var(--gray-color-6);
}



/*게시글 보기*/
#content-view-wrap {
	width: 860px;
	margin : 50px auto;
}

#content-view-wrap table {
	width: 100%;
	border-collapse: collapse;
}

#content-view-wrap table tr{
	height: 48px;
}

#content-view-wrap table .outline {
	border-bottom: 1px solid var(--gray-color-4);
}

#content-view-wrap .txt_item_input input {
	width: 90%;
	height: 48px;
	min-height: 48px;
	font-size: 1rem;
	border: 1px solid var(--gray-color-5);
	border-radius: 4px;
}

#content-view-wrap .txt_item_input input:focus{
	outline: none;
}

#content-view-wrap .thumb img {
	width: 30%;
	height: auto;
	border-radius: 5%;
}



/*회원 보기*/

#view-wrap {
	width: 600px;
	margin : 50px auto;
}

#view-wrap table {
	width: 100%;
}

#view-wrap .info {
	font-size: var(--fs-small);
	font-weight: var(--fw-medium);
	color: var(--gray-color-6);
	padding: 0 2%;
}

#view-wrap .thumb{
	text-align: center;
}

#view-wrap .thumb img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}


#btnSave,
#btnAdd{
	width: 100%;
	height: 48px;
	margin-top: 10px;
	padding: 8px 12px;
	font-size: var(--fs-mediume);
	border-radius: 10px;	 
}

#btnDelete {
	width: 100%;
	height: 48px;
	margin-top: 10px;
	padding: 8px 12px;
	background-color: var(--white-color);
	font-size: var(--fs-mediume);
	color: var(--red-color);
	border: 1px solid var(--red-color);
	border-radius: 10px;	  
}

#btnDelete:hover {
	background-color: var(--red-color);
	color: var(--white-color);
	transition : 0.3s;
}



/* 반응영 영역*/
@media screen and (max-width: 1100px) {

	#side-menu-wrap{
		display: none;
	}

	#contents-wrap {
		padding-left: 0 !important;
	}

	#contents-wrap .main-wrap {
		width: 100%;
	}

}


/* 아이디,패스워드 찾기 영역*/
#remind-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	height: 100%;
}

#remind-wrap .tab-box {
	width: 480px;
	height: auto;
	background-color: var(--white-color);
	padding: 10px 10px;
}

#remind-wrap .tab-box .tab-menu {
	display: flex;
	overflow: hidden;
}

#remind-wrap .tab-box .tab-menu li {
	width: 100%;
	padding: 3% 0;
	border: 1px solid var(--gray-color-6);
	border-bottom: 3px solid var(--black-color);
	cursor: pointer;
	text-align: center;
}

#remind-wrap .tab-box .tab-menu li.on {
	background-color: var(--black-color);
	color: var(--white-color);
	cursor: pointer;
}

#remind-wrap .tab-box .menu-cont {
	display: none;
	background-color: var(--white-color);
}

#remind-wrap .tab-box .menu-cont.on {
	display: block;
}

#remind-wrap .tab-box .menu-cont {
	padding: 30px 20px;
	border: 1px solid var(--gray-color-6);
}

#remind-wrap .tab-box .menu-cont .title-wrap .title {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	margin: 0;
}

#remind-wrap .tab-box .menu-cont .title-wrap .desc {
	font-size: var(--fs-medium);
	font-weight: var(--fw-light);
	margin: 10px 0 20px;
}

#remind-wrap .tab-box .menu-cont .form-wrap {
	text-align: center;
}

#remind-wrap .tab-box .menu-cont .input-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#remind-wrap .input-wrap .label {
	width: 15%;
}

#remind-wrap .input-wrap .label span {
	font-weight: var(--fw-medium);
}

#remind-wrap .input-wrap .select-input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
}

#remind-wrap  .select-box {
	width: 20%;
}

#remind-wrap  .select-box select {
	width: 100%;
	height: 48px;
	padding: 0 2%;
	border-radius: 10px;
	border: 1px solid var(--gray-color-5);
}

#remind-wrap  .result-wrap {
	text-align: right;
	margin: 8px 0;
}

#remind-wrap  .result-wrap .result-id,
#remind-wrap .result-wrap .result-pwd {
	font-weight: var(--fw-bold);
	color: var(--red-color);
}

#remind-wrap  .btn-wrap input[type="button"] {
	width: 100%;
	height: 48px;
	border-radius: 10px;
	margin-top: 12px;
	transition: 0.3s;
	background-color: var(--black-color);
}


/* 로그인 페이지 영역 */
#login-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
}

#login-wrap .login-box {
	width: 380px;
	height: auto;
	background-color: rgba(240, 240, 240, 0.7);
	padding: 40px 40px;
	border-radius: 5%;
	text-align: center;
}

#login-wrap .login-box .title-wrap .title {
	margin: 5px 0;
}

#login-wrap .login-box .title-wrap .title span {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-extra-bold);
}

#login-wrap .login-box .title-wrap .subtitle {
	margin-bottom: 20px;
}

#login-wrap .login-box .info-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 12px 0;
}

#login-wrap .login-box .info-wrap .save-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-wrap .login-box .info-wrap .save-box input[type="checkbox"] {
	outline: none;
	border-radius: 5px;
}

#login-wrap .login-box .info-wrap .remind-box a span,
#login-wrap .login-box .info-wrap .save-box span {
	font-size: var(--fs-medium);
	color: var(--gray-color-6);
}

#login-wrap .login-box .info-wrap .remind-box a span:hover {
	text-decoration: underline;
	color: var(--black-color);
}

#login-wrap .login-box .button-wrap input[type="button"] {
	width: 100%;
	height: 48px;
	border-radius: 10px;
	margin-top: 12px;
	transition: 0.3s;
}



/* 하단 영역 */
#footer-wrap {
	clear: both;
}



/* 에러페이지 */
#error-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: #ececec;
}

#error-wrap .info {
	text-align: center;
}

#error-wrap .info .title{
	font-size : 7rem;
	margin-bottom: 12px;
}

#error-wrap .info .desc{
	font-size : 1.25rem;
	line-height: 2rem;
	font-weight: 300;
}

#error-wrap .info button {
	width: 100%;
	height: 48px;
	margin-top: 12px;
	background-color: var(--main-color);
	font-size: 1rem;
	color: var(--white-color);
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}
